.dashboard {
  display: flex;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  flex-direction: column;
  border-radius: 10px;
  transition: .2s;

  &-search {
    z-index: 90;
    top: 10px;
    right: 0;
    position: absolute;
    width: 600px;
    height: 50px;
    align-items: center;
    padding-left: 22px;
    background-image: linear-gradient(to right, rgb(2, 2, 2, .4) 23%, transparent);
    border-radius: 50px;
    color: #fff;
    gap: 20px;
    // right: 0;
    display: flex;
  }

  .el-input__suffix {
    display: none;
  }

  .el-input__inner {
    width: 250px;
    padding-right: 10px;
  }
}
