#map-app {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
a.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  display: none;
}
#instructions {
  position: absolute;
  padding: 15px;
  margin: 20px;
  bottom: 0px;
  height: 500px;
  width: 300px;
  background-color: rgb(14, 2, 2, .6);
  color: #fff;
  overflow-y: auto;
  font-family: sans-serif;
  z-index: 90;
  transition: all .3s;
  & > div  {
    height: 60px;
    text-align: left;
    padding: 0;
  }
}