.el-container {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.el-header {
  z-index: 999;
  height: 50px;
  // background-color: #182848;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.el-footer {
  z-index: 999;
  height: 30px;
  // background-color: #182848;
  color: #fff;
  line-height: 30px;
  text-align: center;
}

.el-aside {
  // height: 80%;
  // position: absolute;
  // top: 50%;
  // transform: translateY(50%);
  width: 200px;
  background-color: rgb(48, 65, 86);
  line-height: 200px;
  overflow-x: hidden;
  text-align: center;

  &::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #3e4b5f;
  }

  &::-webkit-scrollbar-thumb {
    background: #3e4b5f;
    border-radius: 2.5px;
    opacity: .3;
  }
}

.el-main {
  z-index: 999;
  padding: 0;
  // display: contents;
  background-color: #fff;
  text-align: center;
}
